'.source.logic':
  'Create a new datetime using a timezone':
    'prefix': 'datetime:createTZ'
    'body': '${1:newDatetime} = datetime:createTZ[\n    ${2:year},\n    ${3:month},\n    ${4:day},\n    ${5:hour},\n    ${6:minute},\n    ${7:second},\n    ${8:timezone}\n]$0'